[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=firefox4
Exec=firefox -CreateProfile 4
Name=firefox1
Icon=gnome-panel-launcher
